parameters:
	ignoreErrors:
		-
			identifier: shipmonk.forbiddenCast
			path: ../../src/functions.php
		-
			identifier: binaryOp.invalid
			path: ../../src/functions.php
		-
			identifier: staticMethod.deprecated
			path: ../../src/functions.php
