parameters:
	ignoreErrors:
		-
			identifier: shipmonk.forbiddenCast
			path: ../../src/GetInPackages.php
		-
			identifier: binaryOp.invalid
			path: ../../src/GetInPackages.php
		-
			identifier: staticMethod.deprecated
			path: ../../src/GetInPackages.php
		-
			identifier: shipmonk.checkedExceptionInYieldingMethod
			path: ../../src/GetInPackages.php
